.sidebar {

    max-width: 575px;
    min-width: 280px;

    .userImg {
        width: 30px;
        height: 30px;
        box-sizing: content-box;
    }

    input {
        height: 2.5rem;
        background-color: rgba($color: #ccc, $alpha: 0.2);
    }
}


// .sidebar-sticky {
//     position: sticky;
//     position: -webkit-sticky;
//     top: 0px;
// }

@media (min-width:575px) {
    .sidebar {
        max-width: 350px;
        height: 100vh;
    }

    .sidebar-sticky {
        position: unset;
    }
}