.sidebar {
    min-width: 280px;

    .userImg {
        width: 30px;
        height: 30px;
        box-sizing: content-box;
    }

    input {
        max-width: 500px;
        height: 2.5rem;
        background-color: rgba($color: #ccc, $alpha: 0.2);
    }
}

@media (min-width:768px) {
    .sidebar {
        max-width: 350px;
        height: 100vh;
    }
}